
#m_deatil {position: relative; top:35px; left: 35px;
            background-color: rgba( 0, 0, 0, 0.7 );width: 400px; height: 400px;
            color: white}
#m_name {padding-top:10px;}
#m_name > input{width: 250px;}
div {margin-left: 10px; margin-top:10px; }
#m_submit > input {width: 300px;}