body {color: white; display: table-cell; width: 1080px;}
#login {
        position:absolute; top:20%;
        background-color:black; opacity: 0.8;
        width: 30%; height: 350px;
        display: table-cell; margin-left: 70%;
    }
#personal_login {position: relative; top:12%; width: 100%; height: 50px; background-color:black;}
#content {position: relative; width: 200px; left: 10px;}
h3 {padding-left:7px;}
input {margin: 10px; padding: 2px;}
